<footer>
    <div id="footer__wrapper">
        {% if mainPages is defined and mainPages %}
            <div id="footer__site_map" class="my-4">
                <div>
                    {% for page in mainPages %}
                        {% if page.slug != 'home' %}
                            <li class="footer__site_map"><a href="{{ page.slug }}">{{ page.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div id="footer__contact" class="my-4">
            <h5 class="footer__title">CONTACT</h5>
            <p><a href="mailto:info@lesagitacteurs.fr">info@lesagitacteurs.fr</a></p>
        </div>

        {% if socialMedia is defined and socialMedia %}
            <div id="footer__social" class="my-4">
                <h5 class="footer__title">TROUVEZ NOUS SUR</h5>
                <div class="col d-flex flex-wrap justify-content-center">
                    {% for key, value in socialMedia[0] %}
                        {% if value is not empty %}
                            <div>
                                <a href="{{ value }}">
                                    <i class="fa-brands fa-{{ key }}"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
    </div>

    <div id="footer__policy" class="d-flex flex-wrap justify-content-between">
        <div>
            <small>
                <a href="{{ path('app_policy') }}">POLITIQUE DE CONFIDENTIALITÉ</a>
                <span>&emsp;|&emsp;</span>
                <a href="{{ path('app_home') }}">COOKIES</a>
            </small>
        </div>
        <div>
            <small>© 2008-{{ 'now'|date('Y') }} Copyright - Les Agit'acteurs</small>
        </div>
    </div>
</footer>