{% set layout = app.request.attributes.get('_easy_page_layout') -%}

<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale') | default('fr') }}">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}Les Agit'acteurs{% endblock %}
	</title>
	<link rel="icon" href="{{ asset('images/default/favicon.ico') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>
	
	{% block easy_page_head_metas %}{% endblock %}

	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}
		{% for asset_css in layout.assets_css %}
			<link rel="stylesheet" href="{{ asset(asset_css) }}">
		{% endfor %}
		{% for asset_webpack in layout.assets_webpack %}
			{{ encore_entry_link_tags(asset_webpack) }}
		{% endfor %}
	{% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% block jquery %}{% endblock %}
	<link rel="manifest" href="{{ asset('build/manifest.json') }}">
</head>
<body>
	<nav id="nav_wrapper">
		{% block navigation %}
			{{ render(controller('App\\Controller\\NavigationController::topMenu', {})) }}
		{% endblock %}
	</nav>
	{% block body %}
		<div id="body_container" class="container-fluid">
			<header class="d-flex flex-wrap justify-content-evenly align-items-center align-content-center flex-column">
				<div id="header__logo">
					<a href="/" title="Page d'accueil">
						<img src="{{ asset('images/default/logo.png') }}" alt="Logo Les Agit'acteurs" title="Page d'accueil">
					</a>
				</div>
				<div id="header__title">
					<h1>La troupe de théâtre d'enfants de Hersbach, Wisches</h1>
				</div>
			</header> 
			
			<div class="wrapper">
				{% block container %}
					{% block easy_page_page_content %}{% endblock %}
				{% endblock %}
			</div>

			{% block footer %}
				{{ render(controller('App\\Controller\\NavigationController::footerMenu', {})) }}
			{% endblock %}

		</div>
		
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}
			{% for asset_js in layout.assets_js %}
				<script type="text/javascript" src="{{ asset(asset_js) }}"></script>
			{% endfor %}
			{% for asset_webpack in layout.assets_webpack %}
				{{ encore_entry_script_tags(asset_webpack) }}
			{% endfor %}
		{% endblock %} 
	{% endblock %}

</body>
</html>
